*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

#root {
	height: 100%;
}

header {
	background-color: gainsboro;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
}

header ul,
header li {
	display: inline;
	list-style: none;
}

.link,
.link:visited {
	text-decoration: none;
	color: black;
}

li > .link:hover {
	text-decoration: underline;
}

.categories {
	display: flex;
	gap: 50px;
	font-size: 2rem;
}

main {
	height: 100%;
	margin-top: 50px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#productsGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
}

.container h1 {
	margin-bottom: 25px;
}

.card {
	border: 1px solid black;
	width: 400px;
	height: 400px;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.item {
	height: 100%;
	margin-top: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.item img {
	border: 2px solid black;
	width: 500px;
}

.itemInfo {
	text-align: center;
	width: 500px;
	gap: 30px;
}

.itemInfo h4 {
	width: 425px;
}
