@import url('https://fonts.googleapis.com/css?family=Roboto');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
	height: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	height: 75px;
	background-color: gainsboro;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo {
	margin-right: auto;
	margin-left: 50px;
}

#cart {
	margin-left: auto;
	margin-right: 50px;
}

header ul,
header li {
	display: inline;
	list-style: none;
}

.link,
.link:visited {
	text-decoration: none;
	color: black;
}

li > .link:hover {
	text-decoration: underline;
}

.categories {
	display: flex;
	gap: 50px;
	font-size: 2rem;
}

main {
	height: 100%;
}

main h1 {
	margin-top: 25px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#productsGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
}

.container h1 {
	margin-bottom: 25px;
}

.card {
	border: 1px solid black;
	width: 400px;
	height: 400px;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.item {
	width: 750px;
	border: 1px solid black;
	margin: 0 auto;
	gap: 50px;
}

.item img {
	width: 300px;
	max-width: 40%;
	max-height: 100%;
	padding: 5px;
}

.item, .cartItem {
	margin-top: 150px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cartItem img {
	width: 200px;
	max-width: 40%;
	max-height: 100%;
	padding: 5px;
}

.itemInfo, .cartItemInfo {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 350px;
	max-width: 350px;
	gap: 10px;
	padding: 10px;
}

.itemInfo {
	gap: 30px;
}

.itemInfo h4 {
	color: grey;
	width: 90%;
}

.cartItem {
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 25px;
	width: 600px;
	height: 200px;
}

.cartItem h2{
	font-size: 1.25rem;
}

.removeBtn {
	cursor: pointer;
	width: 40%;
	font-size: .8rem;
	padding: 2px 10px;
}

#cartHeading {
	margin-bottom: 0;
}

#checkoutBtn {
	cursor: pointer;
	margin-top: 15px;
	font-size: 1.5rem;
	padding: 8px 16px;
}

.checkout .link {
	font-size: 1.5rem;
	margin-top: 30px;
}

.checkout .link:hover {
	text-decoration: underline;
}

.welcome {
	height: 100%;
	overflow: hidden;
	background-image: url(../src/img/storefront.jpg);
	background-size: cover;
}

.welcomeInfo {
	background-color: gainsboro;
	padding: 15px 20px;
}

#cartImg {
	width: 70%;
}

#cartLink {
	margin-left: auto;
}

#cartIcon {
	width: 80px;
	display: flex;
	flex-direction: row;
	gap: 0px;
	margin-right: 25px;
}

#cartIcon img {
	max-width: 80%;
}

#redCircle {
	width: 25px;
	height: 25px;
	text-align: center;
	background-color: red;
	padding: 4px;
	border-radius: 100vw;
}

.cart h3 {
	margin-top: 15px;
}

#addBtn {
	padding: 10px 20px;
}